/* @font-face {
	font-family: "NanumGothic";
	src: url("../assets/fonts/NanumGothic.svg#NanumGothic") format("svg"),
		url("../assets/fonts/NanumGothic.ttf") format("truetype"),
		url("../assets/fonts/NanumGothic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NotoSans";
	src: url("../assets/fonts/NotoSansKR-Bold-Alphabetic.svg#NotoSansKR-Bold-Alphabetic") format("svg"),
		url("../assets/fonts/NotoSansKR-Bold-Alphabetic.ttf") format("truetype"),
		url("../assets/fonts/NotoSansKR-Bold-Alphabetic.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NanumSquare";
	src: url("../assets/fonts/NanumSquareEB.svg#NanumSquareEB") format("svg"),
		url("../assets/fonts/NanumSquareEB.ttf") format("truetype"),
		url("../assets/fonts/NanumSquareEB.woff") format("woff");
	font-weight: normal;
	font-style: normal;
} */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

html, body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

#loading {
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 1000;
}

#loading img {
    height: auto;
	width: 60%;
}

#loading span{
	font-weight: bold;
	color: white;
	font-size: 18px;
	padding-top: 30px;
	font-family: sans-serif;
}

#ar-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#video {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	
}

#render_area {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	
}

#render_area {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	
}

#render_ar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 101;
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	
}

#preview-frame {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 102;
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}

#send_canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	display: block;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	visibility: hidden;
	
}


/* button {
	margin-right: 5rem;
	position: relative;
	top: 1000px;
	left: 150px;
	z-index: 102;
	width: 50%;
	height: 10%;
} */

button {
	position: absolute;
    margin: 20px;
	z-index: 2000;
	bottom: 50px,
}

.w-btn {
    position: absolute;
	/* top: 1480px; */
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-outline {
    position: absolute;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}